.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
output/
labels/
pre-screening-for-methodology/
20230925_time-series-data/
20231017_time-series-data/
docs/
20231027_lactococcus/
20231113_lactococcus/
20231117_septum-test/
20231119_lactokleb/
20231121_septum-test/
std-curves/